requests
SpeechRecognition
pydub
boto3
pocketsphinx
flask
python-dotenv
blinker
waitress
redis
celery
pyvirtualdisplay
beautifulsoup4
rq
nopecha
undetected-chromedriver
setuptools
pyautogui
keyboard
faker
seleniumbase
mss
pillow
fake_useragent
schedule
